.movie-slider {
  .slide-img {
    // display: none;
    position: relative;
    z-index: 1;
  }
  .slick-slide.slick-current {
    .slide-img {
      display: block;
    }
  }
  .movie-slide {
    position: relative;
    padding-top: 50%;
    overflow: hidden;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
      }
      .content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 17px;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0,
          #010101 100%
        );
        h3 {
          font-weight: 700;
          font-size: 30px;
          color: #fff;
        }
        .rate {
          span {
            width: 2rem;
            height: 2rem;
            background-color: #081c22;
            border: 2px solid #21d07a;
            font-size: 0.875rem;
          }
        }
        > p {
          margin-top: 1rem;
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .movie-slide > div .content {
      h3 {
        font-weight: 600;
        font-size: 20px;
      }
    }
    .slick-arrow {
      display: none !important;
    }
  }

  .slick-arrow {
    top: 50%;
    box-shadow: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    width: 40px;
    height: 70px;
    margin-top: 0;
    z-index: 1;
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1.5rem;
    }
    &.slick-next {
      border-radius: 4px 0 0 4px;
      right: 0;
      &:before {
        content: "\f105";
      }
    }
    &.slick-prev {
      border-radius: 0 4px 4px 0;
      left: 0;
      &:before {
        content: "\f104";
      }
    }
  }
}
