.movie-detail {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }
  .detail-content {
    h3 {
      font-size: 1.375rem;
      font-weight: 500;
    }
  }
  .detail-action {
    button {
      display: inline-flex;
      align-items: center;
    }
  }
  .detail-description {
    h6 {
      color: #fff;
      font-weight: 500;
    }
    p {
      color: #bfbfbf;
    }
  }
  .detail-options {
    color: #bfbfbf;
    font-weight: 400;
    td:first-child {
      white-space: nowrap;
      color: #fff;
      font-weight: 500;
      padding-right: 1rem;
      display: flex;
    }
    a {
      color: #bfbfbf;
    }
  }
}
