@import "~antd/dist/antd.compact.css";
@import "~antd/dist/antd.dark.css";

img {
  max-width: 100%;
}

body {
  background-color: #111111;
  font-family: "Quicksand", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}