.movie-list {
  .grid {
    @media (min-width: 1024px) {
      > div {
        max-width: 16.66%;
        width: 16.66%;
      }
    }
  }
  .slick-track{
    margin-left: 0!important;
  }
  >div{
    margin-left: -.675rem;
    margin-right: -.675rem;
  }
}
